<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>LOGIN FORM</title>
    <link rel="stylesheet" href="../static/css/login_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="title">LOGIN</div>
      <div class="content">
        <form action="/login" method="post">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" name="password" placeholder="Enter your password" required>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Login">
            <a href="/register" class="register-link">REGISTER HERE!</a>
            <a href="../templates/index.html" class="back-btn">Back</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
